<!DOCTYPE html>
<html>
<head>
    <title>Meu Site</title>
</head>
<body>
    <header>
        <h1>Meu Título</h1>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/home">Página Inicial</a></li>
                <li><a href="http://localhost:3000/sobre">Sobre</a></li>
                <li><a href="http://localhost:3000/dado">Dados</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
